.about-section {
    background-color: #F9F0EB;
    margin-top: 11vh;
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
  
.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;
    width: 100%;
    gap:1rem;
}
  
.text-content {
    width: 60%;
    padding:0 20px;
 
}
  
.about-section h1 {
    font-size: 2rem;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #b56a52; 
}
.text-content h3 {
  color:#b56a52;
  font-size: 1.3rem;
  margin-bottom: 1rem;
} 
  
.text-content p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: #634438;
}
.text-content ul {
  color: #634438;
  margin: 0;
}
.cake-images {
    display: flex;
    flex-direction: column; 
    height: 60vh;
    position: relative;
    justify-content:center;
    align-items:flex-start;
    width: 35%; 
    
}
  
.cake-image {
    width: 250px; 
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(155, 15, 15, 0.1);
    position: relative;
    z-index: 1;
}
#overlap {
  position: absolute; 
    top: 230px; 
    left: 180px; 
    z-index: 2; 
    
}

@media (max-width: 1200px)  {
    #overlap {
        display:none;
    }
    .cake-images{
        align-items: center;
    }

}

@media (max-width: 850px)  {

    .cake-images{
      display:none;
    }
    .text-content {
        width: 100%;
    }

}